<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr class="thead-inverse">
            <th>
            </th>
            <th class="text-uppercase text-center" ng-repeat="group in groups" colspan="{{calculateColspanForSiteType(group)}}">
                <strong>{{group.name}}</strong><br/>
                <span>groups: {{group.groups.join()}} </span>
            </th>
        </tr>
        <tr>
            <th class="text-right" style="background-color: white"></th>
            <th class="text-center" nowrap ng-repeat="groupName in groups | appGroups track by $index">
                {{groupName}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr >
            <td class="h5 text-right" style="background-color: white">
                <strong>{{version}}</strong>
            </td>
            <td class="text-center" ng-repeat="group in groups | appGroups track by $index">
                <span ng-switch on="versionEnabledToGroup(group)" class="clickable-element" ng-click="toggleAvailabilityVersion(group)">
                        <span ng-switch-when="0"><span class="glyphicon glyphicon-unchecked img-glyphicon-unchecked"></span></span>
                        <span ng-switch-when="1"><span class="glyphicon glyphicon-check img-glyphicon-check"></span></span>
                        <span ng-switch-default=""></span>
                    </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>