Programming/Java/Maven/eclipse_wksp/HelloWorld/target/
Programming/Java/Maven/eclipse_wksp/HelloWorld/bin/
Programming/Java/Spring/eclipse_wksp/.recommenders/
Programming/Java/Spring/eclipse_wksp/spring_sample_xml/.settings/
Programming/Java/Spring/eclipse_wksp/spring_sample_xml_anno/.settings/
Programming/Java/Spring/eclipse_wksp/spring_sample_java/.settings/
