.left {
    float: left;
}

.right {
    float: right;
}

.spanasdiv {
    display: block;
}

.app-read-action {
    margin-top: 2px;
}

.app-done-action {
    margin-top: 2px;
}

.app-read-action .label, .app-done-action .label {
    margin-left: 3px;
    color: black !important;
    cursor: pointer;
}

.app-read-action .icon, .app-done-action .icon {
    margin-top: 2px;
}

.app-actions-loading-bar {
    margin-left: 10px;
    margin-top: 10px;
}